<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Homepage</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/homepage.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Bootstraps-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




</head>

<!-- Actual app -->
<body>
<nav class="navbar navbar-default navbar-fixed-top"  role="navigation">
   <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar" aria-expanded="false">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   </button>
   <img alt="Brand" src="/images/#">
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="menubar">
 
   <li><a href="#">Profile</a></li>
   <li><a href="#">Settings</a></li>
   <li role="separator" class="divider"></li>
   <li><a href="#">Sort Favours</a></li>
   </ul>
   <!-- code for the right side of the navbar -->
   </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
   </nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
		<li><a  href="request" class="navbar-btn navbar-left" role="button" aria-haspopup="true" aria-expanded="false"> <span> request favour</span> </a>
		<div class = "current"> 
		</div>
		</a>

		<a href="/html/current.html" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false"> <span> current favour</span> </a>
		<div class = "current"> 
		</div>

	</li>
    </ul>

    
  </div>
</nav>


	<div align = "center">
	<div class = "container">

		<!-- Current favors -->
		{{#each favours}}
		<div class="panel panel-primary">
	<a  href="select/{{id}}">		
  <div class="panel-heading favours" id="{{id}}">
  	<img src = "images/{{image}}" class = "image" href = "/html/profile.html">
    <h3 class="panel-title">{{subject}}</h3>
    <h3 class="panel-title">{{name}}</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</a>

</div>
  		{{/each}}


	</div>
	</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<!-- End of file -->
</html>
