<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Homepage</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/homepage.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Bootstraps --><!--
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
</head>

<!-- Actual app -->
<body>
	<div align = "center">
	<div class = "container">

		<!-- Drag down box -->
		<div class = "current" id = "top"> 
			<a  href="/html/current.html"><p>Drag down to see current favor</p></a>
		</div>
	

		<!-- Menu box -->
		<a href="/html/menu.html">
		<div class = "corner" id = "menu">
			<div class = "menu" id = "line">
			</div>
			<div class = "menu" id = "line">
			</div>
			<div class = "menu" id = "line">
			</div>
		</div>
		</a>

		<!-- Current favors -->
		<div class = "main" id = "bulk">
		{{#each favours}}
			<a  href="select/{{id}}">
			<div class = "favours" id = "{{id}}">
				<img src = "images/{{image}}" class = "image" href = "/html/profile.html">
					<h4>{{name}}</h4>
					<h2> {{subject}} </h2>
			</div>
			</a>	
		{{/each}}

		</div>


		<!-- Drag up box -->
		<a href = "/html/request.html">
		<div class = "request" id = "bottom">
			<p>Drag up to request a new favor</p>
		</div>
		</a>


	</div>
	</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<!-- End of file -->
</html>
