<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Homepage</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/homepage.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Bootstraps-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<!-- Actual app -->
<body>


  <!-- Navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
       
        <button class="btn" type="button" data-toggle="collapse" data-target="#menubar" aria-expanded="false" aria-controls="collapseExample" id="ham">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>

        <!-- Title at top -->
        <a class="navbar-brand" href="">What People Need</a>

        <!-- Logo photo -->
        <a href="/index"><img id="logo" src="/images/logo-here.png"></a>
        
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="menubar">
          <div class="card card-block">
        <!-- Inside of navigation bar -->
        <li><a href="/profile"><span id="pro">Profile</span></a></li>
        <li><a href="html/settings.html"><span id="set">Settings</span></a></li>
        <li><a href="html/sort.html"><span id="sort">Sort Favours</span></a></li>
        <li><a href=".."><span id="sort">Log Out</span></a></li>
      </ul>

    </div>

      <!-- Right side of the navbar -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Favors list container -->
<div class = "favour-container" id="favour-container" align="center">

  <!-- Current favors -->
  <p id="space">...</p>
  {{#each favours}}
    <div class="panel panel-primary">
    <a  href="select/{{id}}">		
      <!-- Favour head -->
        <div class="panel-heading favours" id="top">
        <!-- Image -->
        <img src = "images/{{image}}" class = "image" href = "/html/profile.html">
        <!-- Name -->
        <h2 class="panel-title" id="name">{{name}}</h2>
      </div> 
      <!-- Favour body -->
      <div class="panel-body" id="bottom">
        <!-- Subject, Time, Location -->
        <span>
          <h5 id="sub">{{subject}}</h5>
          <h5 id="time">By {{time}}</h5>
          <h5 id="loc">To {{location}}</h5>
        </span>
      </div> 
    </a>
  </div>
  {{/each}}
  <p id="space">...</p>
</div>

<div class="modal fade" id="confirmRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Favour Request Submitted</h4>
              </div>
              <div class="modal-body">
                Your favour request was successfully submitted
              </div>
              <div class="modal-footer">

                <input type="submit" id="submitBtn" class="btn navbar-btn navbar-left btn-primary btn-lg" data-toggle="modal" data-target="#confirmRequest" value="Confirm Request"></input>
              </div>
            </div>
          </div> 
        </div>

<!-- Bottom buttons -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <!-- Request favor button -->
        <a  href="request" class="navbar-btn navbar-left" role="button" aria-haspopup="true" aria-expanded="false" id="button"><span>request favour</span></a>
      </a>

      <!-- Current favor button -->
      <a href="current" class="navbar-btn navbar-right" role="button" aria-haspopup="true" aria-expanded="false" id="button"><span>current favour</span></a>
      <!--<div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        You have no current favour</div>-->
      </li>
    </ul>
  </div>
</nav>

<script src="/js/jquery-1.11.0.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/homepage.js"></script>


</body>

<!-- End of file -->
</html>
