<!doctype html>
<html>

<!-- Title of tab / app -->
<head>
	<title>Select Favour</title>

	<!-- Bootstrap to stylesheet -->
	<link href = "/css/select.css" rel = "stylesheet">

	<!-- Viewtype that prevents from zooming out when changing to phone -->
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">

	<!-- Bootstraps --><!--
	<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->

</head>

<!-- Actual app -->
<body>
	<div align = "center">
	<div class = "container">

		<!--Back to Home Button-->
		<div class = "corner" id = "back">
			<a href = "..">
			<img src = "/images/back.png" class = "image" id = "back">
			</a>
		</div>

		<!-- Favor Requested -->
		<div class = "main" id = "bulk">
			<div class = "favours" id = "{{id}}">
				<!-- Image -->
				<img src = "../images/{{image}}" class = "image">
				<!-- Subject -->
				<h1> {{subject}} </h1>
				<h2>{{name}}</h2>
				<h4>Time: {{time}}</h4>
				<h4>Location: {{location}}</h4>
				<div class = "box" id = "description">
					<p>{{description}}</p>
				</div>
			</div>
		</div>

		<!-- Accept Button -->
		<a href = "/html/accept.html">
		<div class = "button" id = "accept">
			<p>Accept</p>
		</div>
		</a>

	</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

<!-- End of file -->
</html>
